/** @format */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans&display=swap");
@import url("//fonts.googleapis.com/earlyaccess/droidarabickufi.css");

/* @import "~react-image-gallery/styles/css/image-gallery.css"; */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* font-family: "Helvetica", sans-serif; */
}

body {
	background-color: #f0f0f0;
}

:root {
	--primaryBlue: #303443;
	--primaryBlueDarker: #1e2332;
	--orangeDark: #501500;
	--orangeLight: #ffe3d9;
	--mainGrey: #fafafa;
	--darkGrey: #5f5e5e;
	--mainWhite: #fff;
	--mainBlack: #222;
	--mainTransition: all 0.3s ease-in-out;
	--mainSpacing: 0.3rem;
}

::placeholder {
	font-style: italic;
	font-size: 0.75rem;
	font-weight: bold;
	color: #d3d3d3 !important;
}

.DarkbackgroundForSidebar {
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	top: 0px;
	left: 0;
	position: fixed;
	z-index: 100;
	padding: 1200px;
}

.DarkbackgroundForSidebar2 {
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	top: 0px;
	left: 0;
	position: fixed;
	z-index: 100;
	padding: 1200px;
}

.arabicFonts {
	font-family: "Droid Arabic Kufi";
}
